html {
    background: black;
} body {
    color: white;
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    padding: 15px;
} .body-styling {
    display: flex;
    flex-direction: row;
} #pokedexEntryJAP {
    font-size: 18px;
    word-break: keep-all;
    white-space: nowrap;
    text-align: justify;
    line-height: 1.5;
    writing-mode: vertical-rl;
    margin-top: 30px;
}

/* SECTION 1 STYLING */
#section-one {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 50px;
} #pokemonNumber-search {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 300px;
    align-items: center;
    gap: 300px;
} #names {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
} #pokemonType {
    display: flex;
    flex-direction: row;
    gap: 10px;
} h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    color: white;
    border-radius: 5px;
    padding: 5px;
} #pokemonSprite img {
    top: 260px;
    max-width: 400px;
    min-width: 600px;
    max-height: 400px;
    min-height: 600px;
} #sprite-container {
    display: flex;
    flex-direction: row;
} #controls {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 85px;
    margin-left: 160px;
} button {
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
    height: 30px;

    transition: transform 0.6s 
} button:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 1em white);
    background-color: white;
    color: black;
} button:active {
    transform: scale(1.4)
}

/* SECTION 2 STYLING */
#section-two {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
} #pokedex-img {
    max-width: 300px;
    margin-top: 100px;
} #pokedexEntry {
    max-width: 80%;
    padding: 25px;
    align-self: center;
    font-size: 22px;
} 

/* GITHUB PROJECT LINK */
#github-profile {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 450;
    position: absolute;
    top: 20px;
    right: 20px;
} #github-profile:active {
    transform: scale(1.05)
}

/* BACKGROUND STYLING */
#background {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    animation-name: backgroundScroll;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} #background img {
    opacity: 0.1;
    z-index: -1;
    max-width: 400px;
}



/* ANIMATIONS */
@keyframes backgroundScroll {

    from {
        transform: translateY(0)

    }

    to {
        transform: translateY(-8000px)

    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
     .body-styling {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    } #pokedexEntryJAP {
        position: absolute;
    } #section-one {
        align-self: center;
        width: 100%;
        height: 50%;
        margin-top: 5px;
        margin-left: 225px;
    } #section-two {
        margin-top: 120px;
        align-items: center;
        width: 100%;
        height: 50%;
    } #pokedexEntry {
        padding: 50px;
        max-width: 80%;
        background-color: rgb(255, 175, 0);
        border-radius: 20px;
        color: black;
    }
}

